# https://swagger.io/docs/specification/about/

openapi: 3.0.0
info:
  title: WeTax OpenAPI Documentation
  description: "<em>Last updated: 06-09-2024</em>"
  # markdown syntax
  version: 1.2.0

servers:
  - url: https://api.wetax.com.vn

# ==================================================== #

paths:
  #------------------------Authentication-----------------------------
  /api/wtx/pa/v1/auth/login:
    post:
      tags:
        - Authentication
      # summary: "Get accsess token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserModelRequest"

      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: API key or partnership wrong!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  #------------------------END-Authentication-------------------------

  #------------------------Company------------------------------------
  /api/wtx/pa/v1/company/{tax_code}:
    get:
      tags:
        - Company
      security:
        - Authorization: []
      summary: "Get Company info by tax code"

      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: "#/components/schemas/GetCompanyModelRequest"

      # GetCompanyModelRequest:
      #   type: object
      #   properties:
      #     search_value:
      #       type: string
      #       description: "Search: Tax Code, Company Name."
      #     sort_by:
      #       type: string
      #       example: "desc"
      #       description: "asc / desc"
      #     page_number:
      #       type: string
      #       example: "1"
      #       description: "Current page number"
      #     page_size:
      #       type: string
      #       example: "10"
      #       description: "Total item on a page."

      parameters:
        - in: path
          name: tax_code
          required: true
          description: "Search: Tax Code."
          schema:
            type: string

      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCompanyModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  #------------------------END-Company--------------------------------

  #-------------------------Seller------------------------------------
  /api/wtx/pa/v1/seller-info:
    get:
      security:
        - Authorization: []
      tags:
        - Seller

      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  #------------------------END-Seller--------------------------------

  #------------------------Shop--------------------------------------
  /api/wtx/pa/v1/pos/shops:
    post:
      security:
        - Authorization: []
      tags:
        - Shop
      summary: "Create shop"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateShopsModelRequest"

      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
    get:
      security:
        - Authorization: []
      tags:
        - Shop

      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetShopResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/pos/shops/{shop_id}:
    delete:
      security:
        - Authorization: []
      tags:
        - Shop
      summary: "Delete shop"
      parameters:
        - in: path
          name: shop_id
          required: true
          # description: User id
          schema:
            type: string

      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/pos/shops/inform-closing-store:
    post:
      security:
        - Authorization: []
      tags:
        - Shop
      summary: "Inform closing shop when end day"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InformClosingStoreModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  #------------------------END-Shop----------------------------------

  #------------------------Item--------------------------------------
  /api/wtx/pa/v1/items:
    post:
      security:
        - Authorization: []
      tags:
        - Item
      summary: "Goods and services"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemsModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  #------------------------END-Item----------------------------------
  
  # /api/wtx/pa/v1/pos/invoices/final:
  #   post:
  #     security:
  #       - Authorization: []
  #     tags:
  #       - Invoice
  #     summary: "Synchronize final invoices info."
  #     description: "End date, scan QR code -> issuse invoices."
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: "#/components/schemas/CreateInvoicesModelRequest"
  #     responses:
  #       "200":
  #         description: Success.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ApiResponse200"
  #       "400":
  #         description: Some fields are invalid!
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ApiResponse400"
  #       "401":
  #         description: Unauthorized!
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ApiResponse401"
  #       "409":
  #         description: Conflict!
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ApiResponse409"

  # /api/requestEinvoiceInfo:
  #   post:
  #     security:
  #       - Authorization: []
  #     tags:
  #       - Invoice
  #     summary: "Request e-invoice information when Customers request to issue invoice and input invoice information in the bill."
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: "#/components/schemas/EInvoiceInfoModelRequest"
  #     responses:
  #       "200":
  #         description: Success.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ApiResponse200"
  #       "400":
  #         description: Some fields are invalid!
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ApiResponse400"
  #       "401":
  #         description: Unauthorized!
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ApiResponse401"
  #       "409":
  #         description: Conflict!
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ApiResponse409"

  # ----------------------------------------------------------------
  
  #------------------------POS-Invoice-------------------------------
  /api/wtx/pa/v1/pos/invoices:
    post:
      security:
        - Authorization: []
      tags:
        - POS Invoice
      summary: "Create invoices."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoicesModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInvoicesModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/pos/invoices-status:
    post:
      security:
        - Authorization: []
      tags:
        - POS Invoice
      summary: "Get status of invoices"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetStatusInvoicesModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStatusInvoicesModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/pos/sendOrderInfo:
    post:
      security:
        - Authorization: []
      tags:
        - POS Invoice
      summary: "Send the bill information."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendBillInfoModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/pos/requestEinvoiceInfo:
    post:
      security:
        - Authorization: []
      tags:
        - POS Invoice
      summary: "Request e-invoice information when Customers request to issue invoice and input invoice information in the bill."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetEinvoiceInfoModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/pos/invoices/{ref_id}:
    delete:
      security:
        - Authorization: []
      tags:
        - POS Invoice
      parameters:
        - in: path
          name: ref_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  
  /api/wtx/pa/v1/pos/importInvoice:
    post:
      security:
        - Authorization: []
      tags:
        - POS Invoice
      summary: "Create invoices"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PosImportInvoiceModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosImportInvoiceResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosImportInvoiceResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosImportInvoiceResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosImportInvoiceResponse409"

  /api/wtx/pa/v1/cancelInvoice:
    post:
      security:
        - Authorization: []
      tags:
        - POS Invoice
      summary: "Cancel invoices"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PosCancelInvoiceModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosCancelInvoiceResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosCancelInvoiceResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosCancelInvoiceResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosCancelInvoiceResponse409"
  
  /api/wtx/pa/v1/pos/invoices-publish:
    post:
      security:
        - Authorization: []
      tags:
        - POS Invoice
      summary: "Create invoices."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartnerInvoicesPublishModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosInvoicePublishModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/pos/invoices-issue:
    post:
      security:
        - Authorization: []
      tags:
        - POS Invoice
      summary: "Create invoices."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartnerInvoicesIssueModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PosInvoicePublishModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  #------------------------END-POS-Invoice---------------------------

  #------------------------IPOS--------------------------------------
  /api/wtx/pa/v1/ipos/sync:
    post:
      security:
        - api_key: []
      tags:
        - iPOS
      summary: "iPOS proactively synchronizes real-time Pos-Invoice to WeTax."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IposSyncInvoicesModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
 
  /api/wtx/pa/v1/ipos/normal-invoices:
    post:
      security:
        - api_key: []
      tags:
        - iPOS
      summary: "Normal-Invoices"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IposNormalInvoicesModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  # -----------------------END-IPOS----------------------------------

  #------------------------Normal-Invoice----------------------------
  /api/wtx/pa/v1/normal-invoices:
    post:
      security:
        - Authorization: []
      tags:
        - Normal Invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NormalInvoiceModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInvoicesModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/normal-invoices/{ref_id}:
    delete:
      security:
        - Authorization: []
      tags:
        - Normal Invoice
      parameters:
        - in: path
          name: ref_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  # -----------------------END-Normal-Invoice------------------------

  #------------------------Normal-Invoice----------------------------
  /api/wtx/pa/v1/erp/invoices:
    get:
      security:
        - Authorization: []
      tags:
        - ERP

      parameters:
        - in: query
          name: start_date
          required: true
          description: "Start date"
          schema:
            type: string
        - in: query
          name: end_date
          required: true
          description: "End date"
          schema:
            type: string
        - in: query
          name: store_code
          required: false
          description: "Store code"
          schema:
            type: string

      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErpListInvoiceModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/erp/announcement-status:
    get:
      security:
        - Authorization: []
      tags:
        - ERP
      parameters:
        - in: query
          name: start_date
          required: true
          description: "Start date"
          schema:
            type: string
        - in: query
          name: end_date
          required: true
          description: "End date"
          schema:
            type: string
        - in: query
          name: store_code
          required: false
          description: "Store code"
          schema:
            type: string

      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErpInvoicesStatusModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  
  /api/wtx/pa/v1/erp/invoices-create:
    post:
      security:
        - Authorization: []
      tags:
        - ERP
      summary: "Invoices create"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoicesCreateModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceCreateModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/erp/invoices-issue:
    post:
      security:
        - Authorization: []
      tags:
        - ERP
      summary: "Invoices issue"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoicesCreateModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceIssueModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  
  /api/wtx/pa/v1/erp/invoices-update:
    post:
      security:
        - Authorization: []
      tags:
        - ERP
      summary: "Invoices create"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoicesUpdateModelRequest"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceCreateModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  # -----------------------END-Normal-Invoice------------------------
  
  #------------------------Sender------------------------------------
  /api/wtx/pa/v1/resend-email:
    post:
      security:
        - Authorization: []
      tags:
        - Sender

      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendEmailModelRequest"

      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  # -----------------------END-Sender--------------------------------
  
  #------------------------Common------------------------------------
  /api/wtx/pa/v1/commons/tax-rates:
    get:
      security:
        - Authorization: []
      tags:
        - Common
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxRateModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/commons/payment-methods:
    get:
      security:
        - Authorization: []
      tags:
        - Common
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"

  /api/wtx/pa/v1/commons/currency:
    get:
      security:
        - Authorization: []
      tags:
        - Common
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyModelResponse200"
        "400":
          description: Some fields are invalid!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse400"
        "401":
          description: Unauthorized!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse401"
        "409":
          description: Conflict!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse409"
  #-----------------------END-Common---------------------------------
# =================================================================
components:
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
    api_key:
      type: apiKey
      in: header
      name: access_token
  schemas:
    ResendEmailModelRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              ref_id:
                type: string
                example: ""
              email:
                type: string
                example: ""
    #============================================= MODEL ==========================================================
    NormalInvoiceModelRequest:
      type: object
      properties:
        seller:
          type: object
          required:
            - tax_code
            - shop_code
            - shop_name
            - form_no
            - serial_no
          properties:
            tax_code:
              type: string
              example: ""
            shop_code:
              type: string
              example: ""
            shop_name:
              type: string
              example: ""
            form_no:
              type: string
              example: ""
            serial_no:
              type: string
              example: ""
        invoices:
          type: array
          items:
            required:
              - "ref_id"
              - "invoice_date"
              - "bill_no"
              - "sale_type"
              - "currency"
              - "exchange_rate"
              - "payment_method"
            properties:
              ref_id:
                type: string
                example: ""
              invoice_date:
                type: string
                example: ""
                description: "Invoice date (Delivery date: yyyymmddhhmmss) datetime"
              bill_no:
                type: string
                example: ""
              sale_type:
                type: string
                example: "1"
                description: "Sale Type (Defualt = 1)"
              currency:
                type: string
                example: "VND"
                description: "Currency (Defualt = ‘VND’)"
              exchange_rate:
                type: string
                example: "1"
                description: "Exchange rate (Defualt = 1)"
              payment_method:
                type: string
                example: "TM/CK"
                description: "Payment method (Defualt = ‘TM/CK’)"
              buyer_comp_name:
                type: string
                example: ""
                description: "Buyer legal name"
              buyer_tax_code:
                type: string
                example: ""
                description: "Buyer tax code"
              buyer_address:
                type: string
                example: ""
                description: "Buyer address"
              buyer_tel:
                type: string
                example: ""
              buyer_email:
                type: string
                example: ""
              qr_code:
                type: string
                example: ""
              invoice_details:
                type: array
                items:
                  type: object
                  required:
                    - "seq"
                    - "item_name"
                    - "unit"
                    - "quantity"
                    - "sale_price"
                  properties:
                    seq:
                      type: string
                      example: "1"
                      description: "Sequence (1,2,3)"
                    item_code:
                      type: string
                      example: ""
                    item_name:
                      type: string
                      example: ""
                    uom:
                      type: string
                      example: ""
                    quantity:
                      type: string
                      example: ""
                    unit_price:
                      type: string
                      example: ""
                    dc_rate:
                      type: string
                      example: ""
                    dc_amount:
                      type: string
                      example: ""
                    amount:
                      type: string
                      example: ""
                    vat_rate:
                      type: string
                      example: ""
                    vat_amount:
                      type: string
                      example: ""
                    total_payment:
                      type: string
                      example: ""

    SellerResponse200:
      type: object
      properties:
        status:
          type: object
          properties:
            success:
              type: boolean
              example: true
            message:
              type: string
              example: "success"
        data:
          type: object
          properties:
            shops:
              type: array
              items:
                type: object
                properties:
                  shop_code:
                    type: string
                    example: ""
                  shop_name:
                    type: string
                    example: ""
                  templates:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                          example: ""
                        start_date:
                          type: string
                          example: ""
                        status_code:
                          type: string
                          example: ""
                        status_name:
                          type: string
                          example: ""
            declaration:
              type: object
              properties:
                register_date:
                  type: string
                  example: ""
                status_code:
                  type: string
                  example: ""
                status_name:
                  type: string
                  example: ""
                  description: "5: Accepted / 6: Rejected / 3: In Progress"
                pos_key:
                  type: string
                  example: ""
                  description: "Invoice Form = Cash Register then POS Key"
            template:
              type: array
              items:
                type: object
                properties:
                  form_no:
                    type: string
                    example: ""
                  serial_no:
                    type: string
                    example: ""
                  start_date:
                    type: string
                    example: ""
                  status_code:
                    type: string
                    example: ""
                  status_name:
                    type: string
                    example: ""

    ErpListInvoiceModelResponse200:
      type: object
      properties:
        status:
          type: object
          properties:
            success:
              type: boolean
              example: true
            message:
              type: string
              example: "success"
        data:
          type: object
          properties:
            sid:
              type: string
            seller_comp_name:
              type: string
            seller_taxcode:
              type: string
            seller_address:
              type: string
            store_code:
              type: string
            store_name:
              type: string
            invoices:
              type: array
              items:
                type: object
                properties:
                  invoice_feature:
                    type: string
                  form_no:
                    type: string
                  serial_no:
                    type: string
                  invoice_no:
                    type: string
                  invoice_date:
                    type: string
                  currency:
                    type: string
                  exchange_rate:
                    type: string
                    example: "1"
                  payment_method:
                    type: string
                    example: "TM/CK"
                  form_no_ref:
                    type: string
                  serial_no_ref:
                    type: string
                  invoice_no_ref:
                    type: string
                  invoice_date_ref:
                    type: string
                  buyer_comp_name:
                    type: string
                  buyer_taxcode:
                    type: string
                  buyer_address:
                    type: string
                  total_amount:
                    type: string
                  total_dc_amount:
                    type: string
                  total_vat_amount:
                    type: string
                  total_pay_amount:
                    type: string
                  cqt_cd:
                    type: string
                  lookup_cd:
                    type: string
                  seller_signatute_time:
                    type: string
                  # tax_signatute_time:
                  #   type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        seq:
                          type: string
                        feature:
                          type: string
                        item_code:
                          type: string
                        item_name:
                          type: string
                        item_uom:
                          type: string
                        quantity:
                          type: string
                        unit_price:
                          type: string
                        dc_rate:
                          type: string
                        dc_amount:
                          type: string
                        amount:
                          type: string
                        vat_rate:
                          type: string
                        vat_amount:
                          type: string

    UserModelResponse200:
      type: object
      properties:
        status:
          type: object
          properties:
            success:
              type: boolean
              example: true
            message:
              type: string
              example: "success"
        data:
          type: object
          required:
            - "access_token"
            - "token_type"
            - "expires_in"
          properties:
            access_token:
              type: string
            token_type:
              type: string
              example: "Bearer"
            expires_in:
              type: number
              example: 7200

    UserModelRequest:
      type: object
      properties:
        user_id:
          type: string
          description: "User's login ID"
        password:
          type: string
          description: "User's login password (AES256 Encryption)"

    CurrencyModelResponse200:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: "200"
            message:
              type: string
              example: "success"
        data:
          type: array
          items:
            type: object
            properties:
              code:
                type: "string"
                example: "VND"
              description:
                type: "string"
                example: "VND"

    PaymentMethodModelResponse200:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: "200"
            message:
              type: string
              example: "success"
        data:
          type: array
          items:
            type: object
            properties:
              code:
                type: "string"
                example: "TM/CK"
              description:
                type: "string"
                example: "Tiền mặt/chuyển khoản"

    TaxRateModelResponse200:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: "200"
            message:
              type: string
              example: "success"
        data:
          type: array
          items:
            type: object
            properties:
              code:
                type: "string"
                example: "5%"
              description:
                type: "string"
                example: "Thuế suất 5%"

    IposNormalInvoicesModelRequest:
      type: object
      properties:
        bills:
          type: array
          items:
            type: object
            properties:
              sale:
                type: object
                properties:
                  vat:
                    type: number
                    example: 0.0
                  note:
                    type: string
                    example: ""
                  status:
                    type: number
                    example: 1
                  area_id:
                    type: string
                    example: "01"
                  is_temp:
                    type: number
                    example: 0
                  room_id:
                    type: string
                    example: ""
                  sale_id:
                    type: string
                    example: "596306"
                  tran_id:
                    type: string
                    example: "OTS"
                  tran_no:
                    type: string
                    example: "02995"
                  user_id:
                    type: string
                    example: "POS2"
                  shift_id:
                    type: string
                    example: "7706"
                  store_id:
                    type: string
                    example: ""
                  vat_sign:
                    type: string
                    example: ""
                  datastate:
                    type: number
                    example: 3
                  date_last:
                    type: number
                    example: 1726074000
                  hour_last:
                    type: number
                    example: 11
                  sale_sign:
                    type: number
                    example: 595506.0
                  signature:
                    type: string
                    example: ""
                  source_id:
                    type: string
                    example: "10000172"
                  tran_date:
                    type: number
                    example: 1726074000
                  get_amount:
                    type: number
                    example: 200000.0
                  pos_parent:
                    type: string
                    example: ""
                  session_id:
                    type: number
                    example: 0
                  store_name:
                    type: string
                    example: "PARIS BAGUETTE"
                  vat_amount:
                    type: number
                    example: 0.0
                  customer_id:
                    type: string
                    example: "00000"
                  device_code:
                    type: string
                    example: "2"
                  minute_last:
                    type: number
                    example: 28
                  number_male:
                    type: number
                    example: 0
                  print_count:
                    type: number
                    example: 0
                  vat_content:
                    type: string
                    example: ""
                  vat_tran_no:
                    type: string
                    example: ""
                  amount_point:
                    type: number
                    example: 0.0
                  coupon_count:
                    type: number
                    example: 0
                  last_version:
                    type: string
                    example: "2.1.8.8"
                  shift_charge:
                    type: number
                    example: 0.0
                  source_fb_id:
                    type: string
                    example: ""
                  station_code:
                    type: string
                    example: ""
                  tran_no_temp:
                    type: number
                    example: 2995
                  vat_tax_code:
                    type: string
                    example: ""
                  coupon_amount:
                    type: number
                    example: 0.0
                  exchange_rate:
                    type: number
                    example: 1.0
                  membership_id:
                    type: string
                    example: ""
                  number_female:
                    type: number
                    example: 0
                  number_people:
                    type: number
                    example: 0
                  return_amount:
                    type: number
                    example: 21999.9999999999
                  store_address:
                    type: string
                    example: null
                  card_info_code:
                    type: string
                    example: ""
                  deposit_amount:
                    type: number
                    example: 0.0
                  discount_extra:
                    type: number
                    example: 0.0
                  payment_status:
                    type: string
                    example: "PAID IN FULL"
                  service_charge:
                    type: number
                    example: 0.0
                  store_latitude:
                    type: number
                    example: 10.729989822220485
                  tran_date_orig:
                    type: number
                    example: 1726074000
                  workstation_id:
                    type: number
                    example: 6
                  dinner_table_id:
                    type: string
                    example: "01_Rec9"
                  pr_key_bookings:
                    type: number
                    example: 0.0
                  pr_key_ht_folio:
                    type: string
                    example: "00000000-0000-0000-0000-000000000000"
                  pr_key_sale_new:
                    type: number
                    example: 0.0
                  pr_key_sale_old:
                    type: number
                    example: 0.0
                  store_longitude:
                    type: number
                    example: 106.74266885966063
                  address_delivery:
                    type: string
                    example: ""
                  currency_type_id:
                    type: string
                    example: "VND"
                  vat_company_name:
                    type: string
                    example: ""
                  workstation_code:
                    type: string
                    example: "95914"
                  membership_id_new:
                    type: string
                    example: ""
                  source_voucher_id:
                    type: string
                    example: ""
                  vat_customer_name:
                    type: string
                    example: ""
                  membership_type_id:
                    type: string
                    example: ""
                  membership_voucher:
                    type: number
                    example: 0
                  vat_amount_reverse:
                    type: number
                    example: 0
                  vat_payment_method:
                    type: string
                    example: ""
                  foodbook_order_data:
                    type: string
                    example: ""
                  membership_birthday:
                    type: number
                    example: 0
                  vat_customer_address:
                    type: string
                    example: ""
                  amount_discount_extra2:
                    type: number
                    example: 0.0
              amount:
                type: number
                example: 178000.0
              is_web:
                type: boolean
                example: false
              sale_id:
                type: string
                example: "596306"
              brand_id:
                type: string
                example: ""
              store_id:
                type: string
                example: ""
              check_sum:
                type: string
                example: "8b9c2452-ba11-4f60-8ba0-7ae88fb6c70a"
              datastate:
                type: number
                example: 0
              signature:
                type: string
                example: "4d118dcbea2cd502b10d6ff90ac4a306"
              tran_date:
                type: number
                example: 1726074000
              amount_org:
                type: number
                example: 178000.0
              amount_vat:
                type: number
                example: 0.0
              brand_name:
                type: string
                example: ""
              company_id:
                type: string
                example: ""
              fb_store_id:
                type: number
                example: 95914
              pr_key_sale:
                type: string
                example: ""
              sale_detail:
                type: array
                items:
                  type: object
                  properties:
                    fix:
                      type: number
                      example: 0
                    tax:
                      type: number
                      example: 0.08
                    note:
                      type: string
                      example: ""
                    is_fc:
                      type: number
                      example: 0
                    amount:
                      type: number
                      example: 68000.0
                    is_kit:
                      type: number
                      example: 0
                    is_set:
                      type: number
                      example: 0
                    number:
                      type: number
                      example: 1
                    ots_ta:
                      type: number
                      example: 0
                    is_gift:
                      type: number
                      example: 0
                    item_id:
                      type: string
                      example: "VN101353"
                    payment:
                      type: number
                      example: 1
                    printed:
                      type: number
                      example: 0
                    sale_id:
                      type: string
                      example: "596306"
                    tran_id:
                      type: string
                      example: ""
                    unit_id:
                      type: string
                      example: "LY"
                    user_id:
                      type: string
                      example: "POS2"
                    discount:
                      type: number
                      example: 0.0
                    end_date:
                      type: number
                      example: 1726074000
                    hour_end:
                      type: number
                      example: 11
                    quantity:
                      type: number
                      example: 1.0
                    shift_id:
                      type: string
                      example: "0"
                    store_id:
                      type: string
                      example: ""
                    datastate:
                      type: number
                      example: 3
                    price_org:
                      type: number
                      example: 68000.0
                    sale_date:
                      type: number
                      example: 1726074000
                    signature:
                      type: string
                      example: ""
                    amount_tax:
                      type: number
                      example: 5037.0370370370365
                    amount_vat:
                      type: number
                      example: 0.0
                    cost_price:
                      type: number
                      example: 0.0
                    hour_start:
                      type: number
                      example: 11
                    is_invoice:
                      type: number
                      example: 0
                    is_service:
                      type: number
                      example: 0
                    list_order:
                      type: number
                      example: 1
                    minute_end:
                      type: number
                      example: 28
                    package_id:
                      type: string
                      example: ""
                    price_sale:
                      type: number
                      example: 68000.0
                    tax_amount:
                      type: number
                      example: 5037.0370370370365
                    description:
                      type: string
                      example: "FRESH MANGO YOGURT"
                    is_eat_with:
                      type: number
                      example: 0
                    ship_charge:
                      type: number
                      example: 0.0
                    amount_point:
                      type: number
                      example: 0.0
                    minute_start:
                      type: number
                      example: 28
                    payment_type:
                      type: string
                      example: "CASH"
                    pr_key_order:
                      type: number
                      example: 1482306.0
                    promotion_id:
                      type: string
                      example: ""
                    source_fb_id:
                      type: string
                      example: ""
                    stop_service:
                      type: number
                      example: 0
                    coupon_amount:
                      type: number
                      example: 0.0
                    membership_id:
                      type: string
                      example: ""
                    printed_label:
                      type: number
                      example: 0
                    is_print_label:
                      type: number
                      example: 0
                    parent_item_id:
                      type: string
                      example: ""
                    promotion_name:
                      type: string
                      example: ""
                    sale_detail_id:
                      type: string
                      example: "1482306"
                    temp_calculate:
                      type: number
                      example: 0
                    workstation_id:
                      type: number
                      example: 6
                    discount_amount:
                      type: number
                      example: 0.0
                    item_id_mapping:
                      type: string
                      example: ""
                    quantity_at_temp:
                      type: number
                      example: 0.0
                    tax_amount_reverse:
                      type: number
                      example: 0
                    amount_discount_extra:
                      type: number
                      example: 0.0
                    amount_service_charge:
                      type: number
                      example: 0.0
                    amount_discount_on_price:
                      type: number
                      example: 0
                    distribute_discount_extra2:
                      type: number
                      example: 0.0
              ship_charge:
                type: number
                example: 0.0
              company_name:
                type: string
                example: "fabi_@gmail.com"
              final_amount:
                type: number
                example: 178000.0
              source_fb_id:
                type: string
                example: ""
              business_type:
                type: string
                example: "Nhà hàng Á"
              coupon_amount:
                type: number
                example: 0.0
              is_group_bill:
                type: boolean
                example: false
              origin_sale_id:
                type: string
                example: null
              amount_after_vat:
                type: number
                example: 178000.0
              amount_vat_reverse:
                type: number
                example: 0
              coupon_amount_paid:
                type: number
                example: 0.0
              sale_payment_method:
                type: array
                items:
                  type: object
                  properties:
                    amount:
                      type: number
                      example: 178000.0
                    sale_id:
                      type: string
                      example: "596306"
                    user_id:
                      type: string
                      example: "POS2"
                    shift_id:
                      type: string
                      example: "7706"
                    store_id:
                      type: string
                      example: ""
                    trace_no:
                      type: string
                      example: ""
                    datastate:
                      type: number
                      example: 3
                    signature:
                      type: string
                      example: ""
                    tran_date:
                      type: number
                      example: 1726074000
                    tran_hour:
                      type: number
                      example: 11
                    list_order:
                      type: number
                      example: 1
                    amount_orig:
                      type: number
                      example: 178000.0000000001
                    customer_id:
                      type: string
                      example: "00000"
                    tran_minute:
                      type: number
                      example: 28
                    source_fb_id:
                      type: string
                      example: ""
                    exchange_rate:
                      type: number
                      example: 1.0
                    workstation_id:
                      type: number
                      example: 6
                    amount_orig_get:
                      type: number
                      example: 200000.0
                    currency_type_id:
                      type: string
                      example: "VND"
                    payment_method_id:
                      type: string
                      example: "CASH"
                    amount_orig_return:
                      type: number
                      example: 21999.9999999999
                    exchange_rate_return:
                      type: number
                      example: 1.0
                    sale_payment_method_id:
                      type: string
                      example: "585006"
                    currency_type_id_return:
                      type: string
                      example: "VND"
              amount_discount_extra:
                type: number
                example: 0.0
              amount_discount_price:
                type: number
                example: 0.0
              amount_service_charge:
                type: number
                example: 0.0
              amount_discount_detail:
                type: number
                example: 0.0
    
    IposSyncInvoicesModelRequest:
      type: object
      properties:
        sale:
          type: object
          properties:
            vat:
              type: number
              example: 0.0
            note:
              type: string
              example: ""
            status:
              type: number
              example: 1
            area_id:
              type: string
              example: "01"
            is_temp:
              type: number
              example: 0
            room_id:
              type: string
              example: ""
            sale_id:
              type: string
              example: "596306"
            tran_id:
              type: string
              example: "OTS"
            tran_no:
              type: string
              example: "02995"
            user_id:
              type: string
              example: "POS2"
            shift_id:
              type: string
              example: "7706"
            store_id:
              type: string
              example: ""
            vat_sign:
              type: string
              example: ""
            datastate:
              type: number
              example: 3
            date_last:
              type: number
              example: 1726074000
            hour_last:
              type: number
              example: 11
            sale_sign:
              type: number
              example: 595506.0
            signature:
              type: string
              example: ""
            source_id:
              type: string
              example: "10000172"
            tran_date:
              type: number
              example: 1726074000
            get_amount:
              type: number
              example: 200000.0
            pos_parent:
              type: string
              example: ""
            session_id:
              type: number
              example: 0
            store_name:
              type: string
              example: "PARIS BAGUETTE"
            vat_amount:
              type: number
              example: 0.0
            customer_id:
              type: string
              example: "00000"
            device_code:
              type: string
              example: "2"
            minute_last:
              type: number
              example: 28
            number_male:
              type: number
              example: 0
            print_count:
              type: number
              example: 0
            vat_content:
              type: string
              example: ""
            vat_tran_no:
              type: string
              example: ""
            amount_point:
              type: number
              example: 0.0
            coupon_count:
              type: number
              example: 0
            last_version:
              type: string
              example: "2.1.8.8"
            shift_charge:
              type: number
              example: 0.0
            source_fb_id:
              type: string
              example: ""
            station_code:
              type: string
              example: ""
            tran_no_temp:
              type: number
              example: 2995
            vat_tax_code:
              type: string
              example: ""
            coupon_amount:
              type: number
              example: 0.0
            exchange_rate:
              type: number
              example: 1.0
            membership_id:
              type: string
              example: ""
            number_female:
              type: number
              example: 0
            number_people:
              type: number
              example: 0
            return_amount:
              type: number
              example: 21999.9999999999
            store_address:
              type: string
              example: null
            card_info_code:
              type: string
              example: ""
            deposit_amount:
              type: number
              example: 0.0
            discount_extra:
              type: number
              example: 0.0
            payment_status:
              type: string
              example: "PAID IN FULL"
            service_charge:
              type: number
              example: 0.0
            store_latitude:
              type: number
              example: 10.729989822220485
            tran_date_orig:
              type: number
              example: 1726074000
            workstation_id:
              type: number
              example: 6
            dinner_table_id:
              type: string
              example: "01_Rec9"
            pr_key_bookings:
              type: number
              example: 0.0
            pr_key_ht_folio:
              type: string
              example: "00000000-0000-0000-0000-000000000000"
            pr_key_sale_new:
              type: number
              example: 0.0
            pr_key_sale_old:
              type: number
              example: 0.0
            store_longitude:
              type: number
              example: 106.74266885966063
            address_delivery:
              type: string
              example: ""
            currency_type_id:
              type: string
              example: "VND"
            vat_company_name:
              type: string
              example: ""
            workstation_code:
              type: string
              example: "95914"
            membership_id_new:
              type: string
              example: ""
            source_voucher_id:
              type: string
              example: ""
            vat_customer_name:
              type: string
              example: ""
            membership_type_id:
              type: string
              example: ""
            membership_voucher:
              type: number
              example: 0
            vat_amount_reverse:
              type: number
              example: 0
            vat_payment_method:
              type: string
              example: ""
            foodbook_order_data:
              type: string
              example: ""
            membership_birthday:
              type: number
              example: 0
            vat_customer_address:
              type: string
              example: ""
            amount_discount_extra2:
              type: number
              example: 0.0
        amount:
          type: number
          example: 178000.0
        is_web:
          type: boolean
          example: false
        sale_id:
          type: string
          example: "596306"
        brand_id:
          type: string
          example: ""
        store_id:
          type: string
          example: ""
        check_sum:
          type: string
          example: "8b9c2452-ba11-4f60-8ba0-7ae88fb6c70a"
        datastate:
          type: number
          example: 0
        signature:
          type: string
          example: "4d118dcbea2cd502b10d6ff90ac4a306"
        tran_date:
          type: number
          example: 1726074000
        amount_org:
          type: number
          example: 178000.0
        amount_vat:
          type: number
          example: 0.0
        brand_name:
          type: string
          example: ""
        company_id:
          type: string
          example: ""
        fb_store_id:
          type: number
          example: 95914
        pr_key_sale:
          type: string
          example: ""
        sale_detail:
          type: array
          items:
            type: object
            properties:
              fix:
                type: number
                example: 0
              tax:
                type: number
                example: 0.08
              note:
                type: string
                example: ""
              is_fc:
                type: number
                example: 0
              amount:
                type: number
                example: 68000.0
              is_kit:
                type: number
                example: 0
              is_set:
                type: number
                example: 0
              number:
                type: number
                example: 1
              ots_ta:
                type: number
                example: 0
              is_gift:
                type: number
                example: 0
              item_id:
                type: string
                example: "VN101353"
              payment:
                type: number
                example: 1
              printed:
                type: number
                example: 0
              sale_id:
                type: string
                example: "596306"
              tran_id:
                type: string
                example: ""
              unit_id:
                type: string
                example: "LY"
              user_id:
                type: string
                example: "POS2"
              discount:
                type: number
                example: 0.0
              end_date:
                type: number
                example: 1726074000
              hour_end:
                type: number
                example: 11
              quantity:
                type: number
                example: 1.0
              shift_id:
                type: string
                example: "0"
              store_id:
                type: string
                example: ""
              datastate:
                type: number
                example: 3
              price_org:
                type: number
                example: 68000.0
              sale_date:
                type: number
                example: 1726074000
              signature:
                type: string
                example: ""
              amount_tax:
                type: number
                example: 5037.0370370370365
              amount_vat:
                type: number
                example: 0.0
              cost_price:
                type: number
                example: 0.0
              hour_start:
                type: number
                example: 11
              is_invoice:
                type: number
                example: 0
              is_service:
                type: number
                example: 0
              list_order:
                type: number
                example: 1
              minute_end:
                type: number
                example: 28
              package_id:
                type: string
                example: ""
              price_sale:
                type: number
                example: 68000.0
              tax_amount:
                type: number
                example: 5037.0370370370365
              description:
                type: string
                example: "FRESH MANGO YOGURT"
              is_eat_with:
                type: number
                example: 0
              ship_charge:
                type: number
                example: 0.0
              amount_point:
                type: number
                example: 0.0
              minute_start:
                type: number
                example: 28
              payment_type:
                type: string
                example: "CASH"
              pr_key_order:
                type: number
                example: 1482306.0
              promotion_id:
                type: string
                example: ""
              source_fb_id:
                type: string
                example: ""
              stop_service:
                type: number
                example: 0
              coupon_amount:
                type: number
                example: 0.0
              membership_id:
                type: string
                example: ""
              printed_label:
                type: number
                example: 0
              is_print_label:
                type: number
                example: 0
              parent_item_id:
                type: string
                example: ""
              promotion_name:
                type: string
                example: ""
              sale_detail_id:
                type: string
                example: "1482306"
              temp_calculate:
                type: number
                example: 0
              workstation_id:
                type: number
                example: 6
              discount_amount:
                type: number
                example: 0.0
              item_id_mapping:
                type: string
                example: ""
              quantity_at_temp:
                type: number
                example: 0.0
              tax_amount_reverse:
                type: number
                example: 0
              amount_discount_extra:
                type: number
                example: 0.0
              amount_service_charge:
                type: number
                example: 0.0
              amount_discount_on_price:
                type: number
                example: 0
              distribute_discount_extra2:
                type: number
                example: 0.0
        ship_charge:
          type: number
          example: 0.0
        company_name:
          type: string
          example: "fabi_@gmail.com"
        final_amount:
          type: number
          example: 178000.0
        source_fb_id:
          type: string
          example: ""
        business_type:
          type: string
          example: "Nhà hàng Á"
        coupon_amount:
          type: number
          example: 0.0
        is_group_bill:
          type: boolean
          example: false
        origin_sale_id:
          type: string
          example: null
        amount_after_vat:
          type: number
          example: 178000.0
        amount_vat_reverse:
          type: number
          example: 0
        coupon_amount_paid:
          type: number
          example: 0.0
        sale_payment_method:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
                example: 178000.0
              sale_id:
                type: string
                example: "596306"
              user_id:
                type: string
                example: "POS2"
              shift_id:
                type: string
                example: "7706"
              store_id:
                type: string
                example: ""
              trace_no:
                type: string
                example: ""
              datastate:
                type: number
                example: 3
              signature:
                type: string
                example: ""
              tran_date:
                type: number
                example: 1726074000
              tran_hour:
                type: number
                example: 11
              list_order:
                type: number
                example: 1
              amount_orig:
                type: number
                example: 178000.0000000001
              customer_id:
                type: string
                example: "00000"
              tran_minute:
                type: number
                example: 28
              source_fb_id:
                type: string
                example: ""
              exchange_rate:
                type: number
                example: 1.0
              workstation_id:
                type: number
                example: 6
              amount_orig_get:
                type: number
                example: 200000.0
              currency_type_id:
                type: string
                example: "VND"
              payment_method_id:
                type: string
                example: "CASH"
              amount_orig_return:
                type: number
                example: 21999.9999999999
              exchange_rate_return:
                type: number
                example: 1.0
              sale_payment_method_id:
                type: string
                example: "585006"
              currency_type_id_return:
                type: string
                example: "VND"
        amount_discount_extra:
          type: number
          example: 0.0
        amount_discount_price:
          type: number
          example: 0.0
        amount_service_charge:
          type: number
          example: 0.0
        amount_discount_detail:
          type: number
          example: 0.0

    GetEinvoiceInfoModelRequest:
      type: object
      properties:
        bills:
          type: array
          items:
            type: object
            required:
              - receiver_email
              - order_date
              - store_code
              - pos_number
              - order_id
            properties:
              ref_id:
                type: string
                example: "1111032023073131769"
                description: "Invoice ID"
              tax_id:
                type: string
                description: Tax Code.
                example: "309682527"
              tax_company_name:
                type: string
                description: Company name registed with Tax.
                example: "Webcash Vietnam"
              tax_address:
                type: string
                description: Company address.
                example: "B.0022 toà Sarica B, khu đô thị Sala, Số 6, Đường D9, Phường An Lợi Đông (Q.2, Cũ), TP Thủ Đức, TP Hồ Chí Minh, Việt Nam"
              tax_buyer_name:
                type: string
                description: Buyer name.
                example: ""
              receiver_email:
                type: string
                description: Email to receive e-invoice.
                example: "ngocthai@lotte.vn"
              receiver_email_cc:
                type: string
                description: Email in cc to receive e-invoice.
                example: "nuri@wetax.vn"
              order_date:
                type: string
                description: Order Date.
                example: "20230731"
              store_code:
                type: string
                description: Store Code.
                example: "111103"
              store_name:
                type: string
                description: Store Name.
                example: "Duong Ba Trac"
              pos_number:
                type: string
                description: POS Number.
                example: 3
              order_id:
                type: string
                description: Order ID.
                example: 1769

    EInvoiceInfoModelRequest:
      type: object
      required:
        - tax_id
        - receiver_email
        - order_date
        - store_code
        - pos_number
        - order_id
      properties:
        tax_id:
          type: string
          description: Tax Code.
          example: "309682527"
        receiver_email:
          type: string
          description: Email to receive e-invoice.
          example: "ngocthai@lotte.vn"
        receiver_email_cc:
          type: string
          description: Email in cc to receive e-invoice.
          example: "nuri@wetax.vn"
        order_date:
          type: string
          description: Order Date.
          example: "20230731"
        store_code:
          type: string
          description: Store Code.
          example: "111103"
        pos_number:
          type: number
          description: POS Number.
          example: "3"
        order_id:
          type: string
          description: Order ID.
          example: "1769"

    SendBillInfoModelRequest:
      type: object
      properties:
        bills:
          type: array
          items:
            type: object
            required:
              - order_date
              - store_code
              - pos_number
              # - transType
              # - listProduct
              - order_id
            properties:
              ref_id:
                type: string
                example: "163003230305273"
                description: "Invoice ID"
              store_code:
                type: string
                description: Store Code.
                example: "111103"
              store_name:
                type: string
                description: Store Name.
                example: "DUONG BA TRAC"
              order_date:
                type: string
                description: Order created date.
                example: "20230731"
              order_time:
                type: string
                description: Order created time.
                example: "202307310830"
              pos_number:
                type: number
                description: POS Number.
                example: 3
              order_id:
                type: number
                description: Order id (Bill number).
                example: 3
              trans_type:
                type: number
                description: "1: Order 2: Return"
                example: 1
              payment_method:
                type: string
                description: "Payment method definition as below: VNPAY, SHOPEEPAY, MOMO, ZALOPAY, CASH, VOUCHER, CREDITSALE, ATM, CREDITCARD"
                example: "CASH"
              list_product:
                type: array
                items:
                  type: object
                  required:
                    - item_name
                    - unit_price
                    - quantity
                    - uom
                    - total_amount
                    # - vatRate
                    # - vatAmount
                    - paying_amount
                  properties:
                    item_code:
                      type: string
                      example: "228785"
                      description: "Product Code"
                    item_name:
                      type: string
                      example: "GA RAN PHAN"
                      description: "Product Name"
                    unit_price:
                      type: number
                      example: 67000
                      description: "Unit Price"
                    quantity:
                      type: number
                      description: "Quantity"
                      example: 2
                    sale_price:
                      type: number
                      description: "SALE PRICE ( include VAT)"
                    uom:
                      type: string
                      description: "Unit of measure"
                      example: "EA"
                    total_amount:
                      type: number
                      description: "Total amount excluding tax"
                      example: 197222
                    vat_rate:
                      type: number
                      description: "Tax rate (percentage)"
                      example: 8
                    vat_amount:
                      type: number
                      description: "Tax amount"
                      example: 15778
                    paying_amount:
                      type: number
                      description: "Total amount including tax "
                      example: 213000
              # list_vat:
              #   type: array
              #   items:
              #     type: object
              #     properties:
              #       sub_amt:
              #         type: string
              #         description: Subtotal amount
              #       sub_vat_rate:
              #         type: string
              #         description: Vat rate
              #       sub_vat_amt:
              #         type: string
              #         description: Subtotal amount vat ground by vat rate

    ErpInvoicesStatusModelResponse200:
      type: object
      properties:
        status:
          type: object
          properties:
            success:
              type: boolean
              example: true
            message:
              type: string
              example: success
        data:
          type: array
          items:
            type: object
            properties:
              register_date:
                type: string
              document_no:
                type: string
              detail:
                type: array
                items:
                  type: object
                  properties:
                    cqt_code:
                      type: string
                    form_no:
                      type: string
                    serial_no:
                      type: string
                    invoice_no:
                      type: string
                    invoice_date:
                      type: string
                    invoice_feature:
                      type: string
                    reason:
                      type: string
                    tax_result_code:
                      type: string
                    tax_result_name:
                      type: string

    GetStatusInvoicesModelResponse200:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: "200"
            message:
              type: string
              example: success
        data:
          type: array
          items:
            type: object
            properties:
              sid:
                type: string
                example: "175398"
              ref_id:
                type: string
                example: "936324"
              symbol:
                type: string
                example: "1C24MKT"
              invoice_no:
                type: string
                example: "56"
              invoice_type:
                type: string
                example: "Original"
              cqt_report_status:
                type: string
                example: "Reported"
              issuance_status:
                type: string
                example: "Issued"
              email_status:
                type: string
                example: "Sent"
              lookup_code:
                type: string
                example: "JGSJIAIQ"
              lookup_url:
                type: string
              cqt_code:
                type: string
                example: ""
              seller_signature_time:
                type: string
                example: ""
              tax_signature_time:
                type: string
                example: ""

    GetStatusInvoicesModelRequest:
      type: object
      properties:
        invoices:
          type: array
          items:
            type: string
            example: "ref_id"
            description: "Invoice ID from Parter"

    PosImportInvoiceModelRequest:
      type: object
      required:
        - taxCode
        - pattern
        - comId
      properties:
        taxCode:
          type: string
          maxLength: 14
          example: "1201496252"
          description: "Tax code"
        pattern: 
          type: string
          maxLength: 7
          example: "1C24TAA"
          description: "Form no || Serial no"
        comId: 
          type: string
          maxLength: 100
          example: "ESPG6V85LUW"
          description: "Mã định danh cửa hàng"
        invoices:
          type: array
          items:
            type: object
            required:
              - amount
              - amountInWords
              - arisingDate
              - ikey
              - fkey
              - cusName
              - paymentMethod
              - currencyUnit
              - total
              - products
            properties:
              billCode:
                type: string
                example: "BillNo0123"
                description: "Mã đơn hàng"
              billDate:
                type: string
                example: "2024/10/28 11:50:10"
                description: "Ngày tạo đơn hàng Định dạng yyyy/MM/dd HH:mm:ss"
              amount:
                type: number
                example: 147400
                description: "Tổng tiền sau thuế."
              amountInWords:
                type: string
                maxLength: 255
                description: "Số tiền bằng chữ"
                example: "Một trăm bốn mươi bảy nghìn bốn trăm đồng."
              arisingDate:
                type: string
                description: "Ngày phát sinh hóa đơn."
                example: "10/10/2024"
              ikey:
                type: string
                description: "Giá trị khóa duy nhất của hóa đơn."
                example: "20230731"
              fkey:
                type: string
                description: "Mã tra cứu hóa đơn."
                example: "M1-23-ZS28M-00780590876"
              cusCode:
                type: string
                maxLength: 50
                description: "Mã khách hàng."
                example: "KH-001"
              cusName:
                type: string
                maxLength: 400
                description: "Tên khách hàng."
                example: "CÔNG TY TNHH WEBCASH VIỆT NAM"
              buyer:
                type: string
                maxLength: 400
                description: "Tên người mua hàng."
                example: "Trần Văn A"
              cusAddress: 
                type: string
                maxLength: 400
                description: "Địa chỉ khách hàng"
                example: "Đường 1A, ...."
              email: 
                type: string
                maxLength: 100
                description: "Email của khách nhận thông báo phát hành hóa đơn."
                example: "abc.dgf@gmail.com"
              cusPhone: 
                type: string
                maxLength: 50
[...]
